@font-face {
    font-family: SegoeWpLight;
    src: url("../webfonts/segoeWPN.woff");
}
@font-face {
    font-family: MYRIADPRO-REGULAR;
    src: url("../webfonts/MYRIADPRO-REGULAR.woff");
}
body{
    font-family: SegoeWpLight;
    font-size: 1rem;
    color: #909090;
}

.carousel-caption{
    bottom: 20%;
    left: 50%;
    right: 0;
    text-align: left;
}
.carousel-caption h2{
    font-size: 2.62rem;
}
.carousel-caption p{
    font-size: 1.62rem;
}
.carousel-caption a{
    background: #5094f2;
    color: #fff;
    font-size: 1.39rem;
}
.my-6{
    margin: 3.9rem 0; /* of in % */
}